nav(class="top-bar", data-topbar, ng-controller="HeaderController")
    ul(class="title-area")
        li(class="name")
            h1
                a(href="") WebAppTemplate
        li(class="toggle-topbar menu-icon")
            a(href="")
                span
    section(class="top-bar-section")
        // Right Nav Section
        ul(class="right")
            li(class="divider")
            li(class="has-dropdown")
                a(href="") Account
                ul(class="dropdown")
                    li
                        a(href="", ng-click="login()") {{ buttons.login }}
                    li
                        a(href="", ng-click="logout()") {{ buttons.logout }}
        // Left Nav Section
        ul(class="left")
            li(class="divider")
            li
                a(href="#/firstPage") {{ buttons.first }}
            li(class="divider")
            li
                a(href="#/secondPage") {{ buttons.second }}
            li(class="divider")
            li
                a(href="#/thirdPage") {{ buttons.third }}
            li(class="divider")

script.
    $(document).foundation();