p This is my {{ order }} page

// This script launch the foundation functionality. Each time we change the contents
// of the ng-view we need to reload the Foundation scripts.

script

    $(document).foundation();