h1 {{ pageData.title }}

p {{ pageData.contents }}

input.button(type="button", value="Call Database!", ng-click="loadDatabaseMessage()")

div(ng-class="specialMessage && 'alert-box success'") {{ specialMessage.message }}