// The layout is the framework of our site. Inside it we are going to put the index contents
// surrounded by all the configurations for the HTML, CSS, scripts, meta-tags...

doctype html

html(ng-app="app")

    head

        title Web Application Template

        meta(name='author', content='Gustavo Muñoz')
        meta(charset='UTF-8')

        // Here goes the external libraries tha needs our web application.

        script(src='http://code.jquery.com/jquery-2.0.3.js')
        script(src='http://code.angularjs.org/1.2.6/angular.js')
        // Now Angular route is in its own module!!!
        script(src='http://code.angularjs.org/1.2.6/angular-route.js')
        script(src='http://underscorejs.org/underscore.js')

        // Here goes the controller of our web application

        script(src='js/controllers.js')
        script(src='js/application.js')
        script(src='js/directives.js')

        // Here goes the styles. We are going to use Foundation to makes
        // things easier.

        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/foundation.css')

        // And our own styles.

        link(rel='stylesheet', href='css/teStyle01.css')
        link(rel='stylesheet', href='css/teStyle02.css')

    body

        // And here we place a block with the contents of the index.

        block indexContents

        script(src='js/foundation.min.js')
        script(src='js/modernizr.js')

        script.
            $(document).foundation();